nav {
  margin-right: 40px;
  .nav-title {
    padding: 10px;
    font-size: 22px;
    display: flex;
    cursor: pointer;

    overflow: hidden;

    &:hover {
      background-color: rgb(59, 59, 59);
      border-radius: 25px;
    }

    .nav-icon {
      padding-right: 15px;
    }
  }
}
